* {
    box-sizing: border-box;
    text-decoration: none;
    /* font-family: 'Poppins', sans-serif;
    font-family: 'Raleway', sans-serif; */
    /* font-family: 'Roboto', sans-serif; */
    font-family: 'Rubik', sans-serif;
    padding: 0;
    margin: 0;
}
.home {
    position: relative;
}
.about-us {
    position: relative;
}
.more {
    position: relative;
}
.contacts {
    position: relative;
}
.services2 {
    position: relative;
}
.locathion {
    position: relative;
}
.services2::after {
    position: absolute;
    bottom: -6px;
    left: 0; 
    opacity: 0;
    content: '';
    display: inline-block;
    width: 0%;
    height: 2px;
    background-color: #2c2b2b;
}
.services2:hover::after {
    opacity: 1;
    transition: 0.3s ease;
    width: 100%;
}
.home::after {
    position: absolute;
    bottom: -6px;
    left: 0; 
    opacity: 0;
    content: '';
    display: inline-block;
    width: 0%;
    height: 2px;
    background-color: #2c2b2b;
    /* background-color: #424242; */
}
.about-us::after {
    position: absolute;
    bottom: -6px;
    left: 0;
    opacity: 0;
    content: '';
    display: inline-block;
    width: 0%;
    height: 2px;
    background-color: #2c2b2b;
    /* background-color: #424242; */
}
.more::after {
    position: absolute;
    bottom: -6px;
    left: 0;
    opacity: 0;
    content: '';
    display: inline-block;
    width: 0%;
    height: 2px;
    background-color: #2c2b2b;
    /* background-color: #424242; */
}
.contacts::after {
    position: absolute;
    bottom: -6px;
    left: 0;
    opacity: 0;
    content: '';
    display: inline-block;
    width: 0%;
    height: 2px;
    background-color: #2c2b2b;
    /* background-color: #424242; */
}
.locathion::after {
    position: absolute;
    bottom: -6px;
    left: 0; 
    opacity: 0;
    content: '';
    display: inline-block;
    width: 0%;
    height: 2px;
    background-color: #565252;
    /* background-color: #424242; */
}
.home:hover::after {
    opacity: 1;
    transition: 0.3s ease;
    width: 100%;
}
.about-us:hover::after {
    opacity: 1;
    transition: 0.3s ease;
    width: 100%;
}
.more:hover::after {
    opacity: 1;
    transition: 0.3s ease;
    width: 100%;
}
.contacts:hover::after {
    opacity: 1;
    transition: 0.3s ease;
    width: 100%;
}
.locathion:hover::after {
    opacity: 1;
    transition: 0.3s ease;
    width: 100%;
}
header span:first-child {
    margin-top: -11px;
    margin-left: 44px;
}
header span:nth-last-child(2) {
    margin-top: 3px;
    margin-left: 11px;
    font-size: 23px;
    color: #2c2b2b;
    /* color: #424242; */
}
header {
    opacity: ;
    /* background-color: #ffffff; */
    position: relative;
    display: flex;
    z-index: 2;
    align-items: center;
    width: 100%;
    height: 76px;
}
header .photo {
    
}

header menu {
    padding: 0 20px 0 0;
    margin-top: 0;
    margin-left: 44%;
    
    list-style: none;
    display: flex;
}
header menu li a {
    margin-left: 69px;
    line-height: 2;
    font-size: 16px;
    color: #2c2b2b;
    /* color: #424242; */
}
header menu li:first-child {
    color: rgb(0, 0, 0);
    /* color: #424242; */
}
.servis {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 210px;
    color: white;
    background-color: rgb(148 149 160);
}
.servis h1 {
    
    margin-bottom: 20px;
}
/*camera*/
.camera0 {
    
    height: 358px;
    /* justify-content: flex-end; */
    width: 1167px;
    background-color: rgb(244 244 255);
    display: flex;
    margin-top: 88px;
}
.camera {
    
    height: 375px;
    position: absolute;
    margin-left: -232px;
    margin-top: 70px;
    display: flex;
}
.camera .photo {
    width: 100%;
    opacity: 0; 
    margin-top: -27px;
    margin-right: 0px;
    position: absolute;
    transition: 1s;
    /* background-image: url('./cctv-camera.jpg'); */
    background-position: center;
}

.camera1:hover .photo {
   opacity: 1;
   margin-left: 70px;
  } 
  

.camera .text {
    margin-top: -13px;
    margin-left: 563px;
    position: absolute; 
    flex-direction: column;
    align-items: center;
    display: flex;
}
.camera1 {
    
    flex-direction: row-reverse;
    display: flex;
}
.camera .text h3 {
    margin-bottom: 22px;
    font-size: 23px;
    color: rgb(5 18 117);
}
.camera .text p {
    color: rgb(5 18 117);
    width: 568px;
    margin-left: 149px;
    font-family: Poppins;
    font-size: 18px;
    
    font-weight: normal;
    line-height: 1.53;
}
/*end-camera*/
/*smart-home*/
.smart-home0 {
    
    height: 358px;
    justify-content: flex-end;
    /* width: 1167px; */
    width: 1059px;
    background-color: rgb(244 244 255);
    display: flex;
    margin-top: 88px;
}
.smart-home {
    flex-flow: wrap;
    height: 375px;
    position: absolute;
    margin-left: -301px;
    margin-top: 70px;
    display: flex;
}
.smart-home .photo {
    order: 2;
    opacity: 0;
    margin-top: -27px;
    margin-right: 0px;
    transition: 1s;
    position: absolute;
    width: 459px;
    height: 267px;
    /* background-image: url('./Smart-Home-Tech.jpg'); */
    background-position: center;
}
.smart-home1:hover .photo {
    
    opacity: 1;
    margin-left: -220px;
        
}
.smart-home .text {
    order: 1;
    margin-top: -13px;
    margin-left: -1037px;
    position: absolute; 
    flex-direction: column;
    align-items: center;
    display: flex;
}
.smart-home1 {
    flex-flow: wrap;
    display: flex;
}
.smart-home .text h3 {
    margin-bottom: 22px;
    font-size: 23px;
    color: rgb(5 18 117);
}
.smart-home .text p {
    color: rgb(5 18 117);
    width: 568px;
    margin-left: 149px;
    font-family: Poppins;
    font-size: 18px;
    
    font-weight: normal;
    line-height: 1.53;
}

/*end-smart-home*/
/*locks*/
.locks0 {
    height: 358px;
    /* justify-content: flex-end; */
    width: 1167px;
    background-color: rgb(244 244 255);
    display: flex;
    margin-top: 88px;
}
.locks {
    height: 375px;
    position: absolute;
    margin-left: -301px;
    margin-top: 70px;
    display: flex;
}
.locks .photo {
    opacity: 0;
    margin-top: -27px;
    margin-right: 0px;
    position: absolute;
    transition: 1s;
    width: 459px;
    height: 267px;
    background-image: url('./cctv-camera.jpg');
    background-position: center;
}
.locks1:hover .photo {
    opacity: 1;
    margin-left: 70px;
   }
.locks .text {
    margin-top: -13px;
    margin-left: 637px;
    position: absolute; 
    flex-direction: column;
    align-items: center;
    display: flex;
}
.locks1 {
    flex-direction: row-reverse;
    display: flex;
}
.locks .text h3 {
    margin-bottom: 22px;
    font-size: 23px;
    color: rgb(5 18 117);
}
.locks .text p {
    color: rgb(5 18 117);
    width: 568px;
    margin-left: 149px;
    font-family: Poppins;
    font-size: 18px;
    
    font-weight: normal;
    line-height: 1.53;
}

/*end-locks*/
.alarms0 {
    
    height: 358px;
    justify-content: flex-end;
    /* width: 1167px; */
    width: 1059px;
    background-color: rgb(244 244 255);
    display: flex;
    margin-top: 88px;
}
.alarms {
    flex-flow: wrap;
    height: 375px;
    position: absolute;
    margin-left: -301px;
    margin-top: 70px;
    display: flex;
}
.alarms .photo {

    order: 2;
    opacity: 0;
    margin-top: -27px;
    margin-right: 0px;
    transition: 1s;
    position: absolute;
    width: 459px;
    height: 267px;
    /* background-image: url('./Smart-Home-Tech.jpg'); */
    background-position: center;
}
.alarms1:hover .photo {
    
    opacity: 1;
    margin-left: -180px;
        
}
.alarms .text {
    order: 1;
    margin-top: -13px;
    margin-left: -1037px;
    position: absolute; 
    flex-direction: column;
    align-items: center;
    display: flex;
}
.alarms1 {
    flex-flow: wrap;
    display: flex;
}
.alarms .text h3 {
    margin-bottom: 22px;
    font-size: 23px;
    color: rgb(5 18 117);
}
.alarms .text p {
    color: rgb(5 18 117);
    width: 568px;
    margin-left: 149px;
    font-family: Poppins;
    font-size: 18px;
    
    font-weight: normal;
    line-height: 1.53;
}
.dropbtn {
    display: none;
    min-width: 24px;
}
@media screen and (max-width: 1200px) { */
     span .g {
        font-size: 23px;
    }
    header menu {
    
        margin-top: 0;
        margin-left: 533px;
        
        list-style: none;
        display: none;
    }
    .dropbtn {
        margin-left: auto;
        display: flex;
        min-width: 24px;
    }
    .camera .text {
        margin-top: 131px;
        margin-left: 563px;
        position: absolute;
        flex-direction: column;
        align-items: center;
        display: flex;
    }
    .camera .photo {
        width: 100%;
        /* opacity: 0; */
        margin-top: -324px;
        margin-right: 0px;
        position: absolute;
        transition: 1s;
        /* background-image: url(./cctv-camera.jpg); */
        background-position: center;
    }
    .camera {
        align-items: center;
        justify-content: center;
        height: 375px;
        position: absolute;
        margin-left: 25%;
        margin-top: 70px;
        display: flex;
    }
    .camera0 {
        width: 100%;
        height: 442px;
    }
    .camera .text p {
        margin-left: 0px;
        text-align: center;
    }
    .smart-home0 {
        width: 100%;
        height: 442px;
    }
    .smart-home .text p {
        margin-left: 0px;
        text-align: center;
    }
    .smart-home {
        align-items: center;
        justify-content: center;
        height: 375px;
        position: absolute;
        margin-left: 25%;
        margin-top: 70px;
        display: flex;
    }
    .smart-home .text {
        margin-top: 131px;
        margin-left: -1199px;
        position: absolute;
        flex-direction: column;
        align-items: center;
        display: flex;
    }
    .smart-home .photo {
        width: 100%;
        opacity: 0; 
        margin-top: -324px;
        margin-right: 1426px;
        position: absolute;
        transition: 1s;
        /* background-image: url(./cctv-camera.jpg); */
        background-position: center;
    }
    /*locks*/
    .locks .text {
        margin-top: 200px;
        margin-left: 563px;
        position: absolute;
        flex-direction: column;
        align-items: center;
        display: flex;
    }
    .locks .photo {
        width: 100%;
        /* opacity: 0; */
        margin-top: -324px;
        margin-right: 0px;
        position: absolute;
        transition: 1s;
        /* background-image: url(./cctv-camera.jpg); */
        background-position: center;
    }
    .locks {
        align-items: center;
        justify-content: center;
        height: 375px;
        position: absolute;
        margin-left: 25%;
        margin-top: 70px;
        display: flex;
    }
    .locks0 {
        width: 100%;
        height: 487px;
    }
    
    .locks .text p {
        margin-left: 0px;
        text-align: center;
    }
    /*alarms*/
    .alarms0 {
        width: 100%;
        height: 487px;
    }
    .alarms .text p {
        margin-left: 0px;
        text-align: center;
    }
    .alarms {
        align-items: center;
        justify-content: center;
        height: 375px;
        position: absolute;
        margin-left: 25%;
        margin-top: 70px;
        display: flex;
    }
    .alarms .text {
        margin-top: 200px;
        margin-left: -1199px;
        position: absolute;
        flex-direction: column;
        align-items: center;
        display: flex;
    }
    .alarms .photo {
        width: 100%;
        opacity: 0; 
        margin-top: -324px;
        margin-right: 1426px;
        position: absolute;
        transition: 1s;
        /* background-image: url(./cctv-camera.jpg); */
        background-position: center;
    }
}
@media screen and (max-width: 1084px) {

}
@media screen and (max-width: 1024px) {
    .smart-home .text {
        margin-top: 131px;
        margin-left: -974px;
    }
    .smart-home1:hover .photo {
        opacity: 1;
        margin-left: -24px;
    }
    .alarms .text {
        margin-top: 200px;
        margin-left: -974px;
    }
    .alarms1:hover .photo {
        opacity: 1;
        margin-left: -24px;
    }
}
@media screen and (max-width: 803px) {
    span .g {
        font-size: 20px;
    }
    .dropbtn {
        margin-left: 348px;
        display: flex;
        min-width: 24px;
    }
    .camera .text {
        margin-top: 131px;
        margin-left: 437px;
    }
    .camera1:hover .photo {
        opacity: 1;
        margin-left: 12px;
    }
    .smart-home .text {
        margin-top: 131px;
        margin-left: -786px;
    }

    .smart-home1:hover .photo {
        opacity: 1;
        margin-left: 140px;
    }
    .locks .text {
        margin-top: 131px;
        margin-left: 437px;
    }
    .locks1:hover .photo {
        opacity: 1;
        margin-left: 12px;
    }
    .alarms .text {
        margin-top: 200px;
        margin-left: -786px;
    }

    .alarms1:hover .photo {
        opacity: 1;
        margin-left: 140px;
    }
}
@media screen and (max-width: 768px) {
    .dropbtn {
        margin-left: auto;
        display: flex;
        min-width: 24px;
    }
    .camera .text {
        margin-top: 131px;
        margin-left: 349px auto;
    }
    .camera1:hover .photo {
        opacity: 1;
        margin-left: -100px;
    }

    .locks .text {
        margin-top: 131px;
        margin-left: 349px;
    }
    .locks1:hover .photo {
        opacity: 1;
        margin-left: 41px;
    }
    .smart-home .text {
        margin-top: 131px;
        margin-left: -783px;
    }
    .smart-home1:hover .photo {
        opacity: 1;
        margin-left: 228px;
    }
    .alarms .text {
        margin-top: 200px;
        margin-left: -783px;
    }
    .alarms1:hover .photo {
        opacity: 1;
        margin-left: 228px;
    }
    .camera .text p {
        width: 428px;
        font-size: 16px;
    }
    .smart-home .text p {
        width: 428px;
        font-size: 16px;
    }
    .locks .text p {
        width: 428px;
        font-size: 16px;
    }
    .alarms .text p {
        width: 428px;
        font-size: 16px;
    }
} 
@media screen and (max-width: 650px) {
    .camera .text {
        margin-top: 131px;
        margin-left: 215px;
    }
    .camera1:hover .photo {
        opacity: 1;
        margin-left: -200px;
    }

    .locks .text {
        margin-top: 190px;
        margin-left: 215px;
    }
    .locks1:hover .photo {
        opacity: 1;
        margin-left: -200px;
    }
    .smart-home .text {
        margin-top: 131px;
        margin-left: -570px;
    }
    /* .smart-home .photo {
        margin-right: 1053px;
    } */
    .smart-home1:hover .photo {
        opacity: 1;
        margin-left: 400px;
    }
    .alarms .text {
        margin-top: 200px;
        margin-left: -570px;
    }
    .alarms1:hover .photo {
        opacity: 1;
        margin-left: 400px;
    }
    .camera .text p {
        width: 428px;

        font-size: 15px;
    }
    .smart-home .text p {
        width: 428px;

        font-size: 15px;
    }
    .locks .text p {
        width: 428px;

        font-size: 15px;
    }
    .alarms .text p {
        width: 428px;

        font-size: 15px;
        
    }
    .camera .text h3 {
        margin-bottom: 22px;
        font-size: 20px;
        color: rgb(5 18 117);
    }
    .smart-home .text h3 {
        margin-bottom: 22px;
        font-size: 20px;
        color: rgb(5 18 117);
    }
    .locks .text h3 {
        margin-bottom: 22px;
        font-size: 20px;
        color: rgb(5 18 117);
    }
    .alarms .text h3 {
        margin-bottom: 22px;
        font-size: 20px;
        color: rgb(5 18 117);
    }
}
@media screen and (max-width: ) {
    
}
@media screen and (max-width: 480px) {
    span .g {
        font-size: 16px;
    }
    header span:first-child {
        margin-top: -11px;
        margin-left: -7px;
    }
    .camera .text p {
        width: 281px;

        font-size: 15px;

    }
    .smart-home .text p {
        width: 281px;

        font-size: 15px;

    }
    .locks .text p {
        width: 281px;

        font-size: 15px;

    }
    .alarms .text p {
        width: 281px;

        font-size: 15px;

    }
    .alarms .text {
        margin-top: 242px;
        margin-left: -481px;
    }
    .camera .photo {
        margin-right: 324px;
    }
    .smart-home .photo {
        width: 34%;
        opacity: 0;
        margin-top: -324px;
        margin-right: 919px;
        position: absolute;
        transition: 1s;
        /* background-image: url(./cctv-camera.jpg); */
        background-position: center;
    }
    .alarms .photo {
        margin-right: 919px;
    }
    .camera1:hover .photo {
        margin-left: 0px;
    }
    .locks1:hover .photo {
        margin-left: 0px;
    }
    .alarms1:hover .photo {
        margin-left: 0px;
    }
    .smart-home1:hover .photo {
        margin-left: 0px;
    }
    .locks .photo {
        margin-right: 324px;
    }
} 
@media screen and (max-width: ) {
    
}
.dropbtn {
    background-color: #fff;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  /* Контейнер <div> - необходим для размещения выпадающего содержимого */
  .dropdown {
    margin-left: auto;
    position: relative;
    display: inline-block;
  }
  
  /* Выпадающее содержимое (скрыто по умолчанию) */
  .dropdown-content {
    margin-left: -105px;
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Ссылки внутри выпадающего списка */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Изменение цвета выпадающих ссылок при наведении курсора */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Показать выпадающее меню при наведении курсора */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Изменение цвета фона кнопки раскрывающегося списка при отображении содержимого раскрывающегося списка */
  .dropdown:hover .dropbtn {background-color: #fff;}